<div>
  {{#if usuario}}
    <p>{{usuario}}</p>
  {{else}}
    No llegaron datos
  {{/if}}
  {{#if fotoPerfil}}
    <img src="{{fotoPerfil}}" alt="" />
  {{/if}}
</div>

{{!-- {{#if TodosLosDatos.usuario}}
<div>
    <p>hola {{this.nick}} como estas? </p>
</div>
{{/if}}
{{#if TodosLosDatos.datos}}
  <h2>{{this.mensaje}}</h2>
{{/if}}
<div class="evento">
  {{#if TodosLosDatos.evento}}
    <img src="{{this.urlImage}}" alt="{{this.nombre}}" />
    <p>{{this.descripcion}}</p>
    <input type="button" value="Asistir" />
    <p>Fecha: {{this.fechaEvento}} hasta el: {{this.fechaFin}}</p>
    <p>Lugar: {{this.ubicacion}}</p>
  {{/if}}
  {{#if TodosLosDatos.perfil}}
    <h2>Organiza: {{this.nombre}}</h2>

    <h2>Asistentes: Varios vaguitos
    </h2>
    <p>Comentar:</p>
    <h2>Comentarios</h2>
 
</div> {{/if}} --}}