<header class="header"><h1>Klan-Destinos</h1></header>
<nav class="navBar">
  <ul>
    <li><a href="/">Home</a></li>
    <li> <a href="/registrarse"> Registrarse</a></li>
  </ul>
</nav>
<main class="main">
  {{#if TodosLosDatos}}
    <div>
      {{#each TodosLosDatos.usuario}}
        <p>hola como esta {{this.nick}}? </p>
      {{/each}}
    </div>
    {{#each TodosLosDatos.dato}}
      {{this.mensaje}}
    {{/each}}
    <div class="evento">
      {{#each TodosLosDatos.evento}}
        <img src="{{this.urlImage}}" alt="{{this.nombre}}" />
        <p>{{this.descripcion}}</p>
        <input type="button" value="Asistir" />
        <p>Fecha: {{this.fechaEvento}} hasta el: {{this.fechaFin}}</p>
        <p>Lugar: {{this.ubicacion}}</p>
        <h2>Organiza: Un vaguito</h2>
        <h2>Asistentes: Varios vaguitos
        </h2>
        <p>Comentar:</p>
        <h2>Comentarios</h2>
      {{/each}}
    </div>
  {{else}}
    <form action="/login" method="post" class="formLoguin">
      <div class="txtUser"><input type="text" placeholder="Usuario" name="txtUser" id="txtUser" /></div>
      <div class="txtPassword"><input type="password" placeholder="Contraseña" name="txtPassword" id="txtPassword" /></div>
      <div class="inputBtnLoguin"><button type="submit" name="btnLogin" id="btnLoguin">Loguin</button></div>
    </form>
  {{/if}}
</main>
<div class="sideBar"><a href="evento">Ver eventos cerca</a></div>
<footer class="footer">Desarrollado por: ASMC.corp</footer>